# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
venv/
.idea/
text/typed_text/pretrain_models
output
text/PP-OCRv5_mobile_det_pretrained.pdparams
text/PP-OCRv5_mobile_rec_pretrained.pdparams
PP-OCRv5_server_rec_pretrained.pdparams
./checkpretrain.py

output1
output2
output3
output4
output5
output6
output7
output8
output9
output10

text/typed_text/az_config_train
text/typed_text/az_config_train100k10k

